@media screen and (min-device-width:768px) and (max-device-width:1024px){
	#main{
		width: 100%;
		margin-top: 0;
	}

	.masthead,.main_masthead{
		width: 100%;
		height: auto;
		float: right;
	}
	.main_masthead >ul >li{
		width: 100%;
		display: block;
		text-align: center;
	}
	.search{
		margin: 0;
		width: 50%;
	}
	.search input{
		width: 97%;
		padding-left: 0;
	}
	#header-nav ul > li{
		margin-top: 15px;
		margin-left: 7.1px;

	}
	.logo,.ads_in{
		text-align: center;
		float: none;
	}
	.p-container{
		width: 100%;
	}
	.p-post{
		width: 100%;
		margin-bottom: 0;
	}
	.ourpost{
		width: 100%;
	}
	.ourpost ul{
		width: 100%;
	}
	.post{
		width: 100%;
	}
	.left-sidebar{
		display: none;
	}	
}
@media screen and (max-width: 767px){
	#main{
		width: 100%;
		margin-top: 0;
	}
	.masthead,.main_masthead{
		width: 100%;
		height: auto;
		float: right;
	}
	.main_masthead >ul >li{
		width: 100%;
		display: block;
		text-align: center;
	}
	.search{
		margin: 0;
		width: 97%;
	}
	.search input{
		width: 97%;
		padding-left: 0;
	}
	#header-nav ul > li{
		margin-top: 15px;
		margin-left: 7.1px;

	}
	.logo,.ads_in{
		text-align: center;
		float: none;
	}
	.p-container{
		width: 100%;
	}
	.p-post{
		width: 100%;
		margin-bottom: 0;
	}
	.ourpost{
		width: 100%;
	}
	.ourpost ul{
		width: 100%;
	}
	.post{
		width: 100%;
	}
	.left-sidebar{
		display: none;
	}
	.social
		display: none;
	}
	
}

@media screen and (max-width: 767px){
	



}