/*body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}
*/
/* header */

.menu-top {

  /*background-color: #fff;*/
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  /*position: fixed;*/
  width: 100%;
  z-index: 3;
}

.menu-top ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #2c3e50;
}

.menu-top li a {
  color: #fdfdfd;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  height: 10px;
}

.menu-top li a:hover,
.menu-top .menu-btn:hover {
  background-color: #27ae60;
}

.menu-top .logo1 {
  color: lightblue;
  display: block;
  float: right;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.menu-top .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.menu-top .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-top .menu-icon .navicon {
  background: #fdfdfd;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-top .menu-icon .navicon:before,
.menu-top .menu-icon .navicon:after {
  background: #fdfdfd;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-top .menu-icon .navicon:before {
  top: 5px;
}

.menu-top .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-top .menu-btn {
  display: none;
}

.menu-top .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-top .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-top .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-top .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-top .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-top .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .menu-top li {
    float: left;
  }
  .menu-top li a {
    padding: 20px 30px;
  }
  .menu-top .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-top .menu-icon {
    display: none;
  }
}
