@font-face{
	font-family: 'ali';
	src:url('fonts/BYekan.woff')format('woff');
}
@font-face{
	font-family: 'ali_s';
	src:url('fonts/YekanWeb-Regular.woff')format('woff');
}



/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0; 
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}


body{
	color: #444;
	background: #f3f3f3;
	width: 100%;
	font: 12px Tahoma;
	direction: rtl;
	overflow-x: hidden;
	text-align: right !important;
}
html{
	overflow-x: hidden;
	width: 100%;
}
li{
	list-style: none;
}
:focus{
	outline: 0;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	color: #2ecc71;
}
.masthead{
	width: 100%;
	height: 55px;
	background: #2c3e50;
	position: relative;
}
.main_masthead{
	width: 1100px;
	margin: 0 auto;
}
.main_masthead >ul>li{
	display: inline-block;
	float: right;
	position: relative;
}
.main_masthead>ul>li>a{
	color: #fdfdfd;
	display: block;
	padding: 12px 15px;
	font: 13px/2 'ali_s' ;
}
.main_masthead>ul>li>a:hover{
	background: #27ae60;
}
.search{
	float: left;
	margin: 7px 0 0 0;
}
.search input{
	background: #23313f url(images/search.png) 3% no-repeat;
	padding: 8px 10px 8px 70px;
	border: 2px solid #23313f;
	color: #fdfdfd;
	direction: rtl;
	text-align: right;
	font: 11px Tahoma;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.search input:focus{
	border: 2px solid #27ae60;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	
}

#main{
	width: 1100px;
	margin: 20px auto;
}
#header-nav{
	margin: 0 auto;
}
#header-nav ul >li{
	width: 100px;
	height: 105px;
	background: #ccc;
	float: right;
}
#header-nav ul > li > a{
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #fdfdfd;
	font: 13px 'ali',Tahoma;
}
.nav-txt{
	line-height: 15px;
}
#header-nav .fa{
	margin: 10px auto;
}

.p-container{
	width: 1100px;
	margin:  20px auto;

}
.p-post{
	width: 100%;
	float: right;
	margin-bottom: 50px; 
	margin-left: 2px;
	margin-right: 2px;
}
.ourpost{
	width: 100%;
	height: 250px;
	overflow: hidden;
	background:#fff;
	border: 1px solid #e2e2e2;
	border-bottom: 2px solid #e6e6e6;
	float: right;
	margin-bottom: 20px;
}
.ourpost h3{
	background: #222;
	color: #fdfdfd;
	padding: 7px 15px;
	font: 13px 'ali',Tahoma;

}
.ourpost ul{
	padding: 0;
}
.ourpost ul li{
	padding: 11px;
	border-bottom: 1px solid #e6e6e6;
}
.ourpost ul li:after{
	content: '';
	display: block;
	clear: both;
}
.ourpost img{
	width: 50px;
	height: 50px;
	float: right;
	margin-left: 15px;
	object-fit: contain;
}
.ourpost ul li a{
	color: #555;
	padding: 5px;
}
.ourpost ul li a:hover{
	background: #e74c3c;
	color: #fdfdfd;
}
.ourpost span{
	float: right;
	margin-top: 10px;
	font-size: 11px;
}
.ads_in{
	width: auto;
	float: left;
	margin-left: 0px;
	margin-bottom: 20px;
}
.post{
	/*	width: 760px;*/
	margin-bottom: 30px;
	float: right;
	background:#fff;
	border: 1px solid #e2e2e2;
	border-bottom: 2px solid #e6e6e6;

}

.post-title{
	margin: 5px 15px;
	padding: 5px;
	font: 20px 'ali' ,'Myraid Pro';
}
.post-title a{
	color: #34495e;
}
.post-img img{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.post-content img{
	margin-right: auto;
	margin-left: auto;;
	display: block;
	max-width: 100%
}
.post-content{
	padding: 10px;
}
.post-content p{
	font:12px/2 Tahoma;
	text-align: justify;
	padding: 10px 15px;
}
.post footer{
	border-top: 1px solid #e2e2e2;
	margin: 15px auto;
}
.post footer div{
	width: 50px;
	padding: 5px 3px;
	border-left: 1px solid #e2e2e2;
	float: right;
	font: 12px Tahoma;
	margin: 0 auto;
	text-align: center;
}

.post footer a{
	color: #e6e6e6;
}
.post footer a:hover{
	color: #2ecc71;
}
.more-link{
	width: auto !important ;
	float: left !important;
	padding: 3px 15px !important; 
	background: #2ecc71;
	border-radius: 15px;
	margin: 4px 15px !important;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

}
.more-link a{
	color: #fdfdfd !important;
	font: 13px 'ali',Tahoma;
}
.more-link:hover{
	background: #34495e;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.post-meta{
	argin-bottom: 30px;
	float: right;
	background:#fff;
	border: 1px solid #e2e2e2;
	border-bottom: 2px solid #e6e6e6;
	/*width: 100%;
	height: 55px;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-bottom: 2px solid #e6e6e6;
	margin: 2px;*/
}
.post-meta span{
	margin: 5px;
}
.post-meta .download{
	width: 100px;
	height: 30px;
	background: #3498d8;
	border: 2px solid #3498d8;
	display: block;
	margin: 10px;
	color: #fdfdfd;
	border-radius: 2px;
	font: 13px 'ali',Tahoma;
	float: right;
}
.post-meta .download:hover{
	background: none;
	color: #3498d8;
}
.post-meta .help{
	width: 100px;
	height: 30px;
	background: #e74c3c;
	border: 2px solid #e74c3c;
	display: block;
	margin: 10px;
	color: #fdfdfd;
	border-radius: 2px;
	font: 13px 'ali',Tahoma;
	float: right;
}
.post-meta .help:hover{
	background: none;
	color: #e74c3c;
}
.post-meta .pass{
	width: 100px;
	height: 30px;
	background: #2ecc71;
	border: 2px solid #2ecc71;
	display: block;
	margin: 10px;
	color: #fdfdfd;
	border-radius: 2px;
	font: 13px 'ali',Tahoma;
	float: right;
}
.post-meta .pass:hover{
	background: none;
	color: #2ecc71;
}
.post-meta .info{
	width: 100px;
	height: 30px;
	background: #985986;
	border: 2px solid #985986;
	display: block;
	margin: 10px;
	color: #fdfdfd;
	border-radius: 2px;
	font: 13px 'ali',Tahoma;
	float: right;
}
.post-meta .info:hover{
	background: none;
	color: #985986;
}
.related{
	width: 100%;
	float: right;
	margin-top: 20px;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-bottom: 2px solid #e6e6e6;
}
.related h4{
	background: #222;
	color: #fdfdfd;
	padding: 7px 5px;
	font: 13px 'ali',Tahoma;
}
.related ul li{
	float: right;
	margin: 13px;
}
.related img{
	width: 100px;
	height: 100px;
}
.wp-pagenavi a, .wp-pagenavi span{
	background: #34495e;
	padding: 7px;
	float: right;
	color: #fdfdfd;
	margin: 2px;
}
.wp-pagenavi span.current{
	background: #27ae60;
}
.left-sidebar{
	/*	width: 300px;*/
	float: left;
	margin-left: 2px;
}
.left-sidebar .sidebox, .left-sidebar .ads{
	background: #fff;
	border: 1px solid #e2e2e2;
	border-bottom: 2px solid #e6e6e6;
	margin-bottom: 20px;
}
.left-sidebar .sidebox h3, .left-sidebar .ads h3{
	padding: 8px 20px;
	color: #fdfdfd;
	font: 13px 'ali';
	background: #34495e;
}
.left-sidebar .sidebox ul{
	margin: 10px auto;
}
.left-sidebar .sidebox ul li a{
	padding: 7px 22px;
	color: #444;
	display: block;
}
.left-sidebar .sidebox ul li a:hover{
	background: #27ae60;
	color: #fdfdfd;
	display: block;
}
.left-sidebar .sidebox img{
	margin: 10px 13px;
}
.ads_single{
	margin-bottom: 20px; 
}
.left-sidebar .ads ul li a{
	padding: 5px 10px;
	display: block;
	color: #555;
}
.left-sidebar .ads span{
	display: block;
	margin: 5px 0;
}
.left-sidebar .ads ul li:nth-child(1) a{
	border-right: 4px solid #e74c3c;
}
.left-sidebar .ads ul li:nth-child(2) a{
	border-right: 4px solid #9b59b6;
}
.left-sidebar .ads ul li:nth-child(3) a{
	border-right: 4px solid #1abc9c;
}
.left-sidebar .ads ul li:nth-child(4) a{
	border-right: 4px solid #3498d8;
}
.left-sidebar .ads ul li:nth-child(5) a{
	border-right: 4px solid #1abc9c;
}
.left-sidebar .ads ul li:nth-child(6) a{
	border-right: 4px solid #e74c3c;
}
.left-sidebar .ads ul li:nth-child(7) a{
	border-right: 4px solid #9b59b6;
}
.left-sidebar .ads ul li:nth-child(8) a{
	border-right: 4px solid #1abc9c;
}
.left-sidebar .ads ul li:nth-child(9) a{
	border-right: 4px solid #3498d8;
}
.left-sidebar .ads ul li:nth-child(10) a{
	border-right: 4px solid #1abc9c;
}


.left-sidebar .ads ul li:nth-child(1) a:hover{
	background: #e74c3c;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(2) a:hover{
	background: #9b59b6;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(3) a:hover{
	background: #1abc9c;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(4) a:hover{
	background: #3498d8;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(5) a:hover{
	background: #1abc9c;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(6) a:hover{
	background: #e74c3c;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(7) a:hover{
	background: #9b59b6;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(8) a:hover{
	background: #1abc9c;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(9) a:hover{
	background: #3498d8;
	color: #fdfdfd;
}
.left-sidebar .ads ul li:nth-child(10) a:hover{
	background: #1abc9c;
	color: #fdfdfd;
}

.footer-nav{
	width: 100%;
	/*	height: 300px;*/
	background: #34495e;
	margin: 20px auto 0;
	clear: both;
	position: relative;
}
.footer-nav a{
	color: white;
}
.main-footer{
	width: 100%;
	margin: 0 auto;
}
.about{
	width: 300px;
	height: 300px;
	float: right;
	margin-left: 100px;
	margin-right: 50px;
}

.about h5, .social h5, .support h5{
	font: 16px 'ali_s',Tahoma;
	padding: 5px;
	margin: 10px auto;
	color: #fdfdfd;
}
.about p{
	font: 13px/2 'ali_s','Myraid Pro';
	text-align: justify;
	color: #fdfdfd;
}
.social{
	width: 300px;
	height: 300px;
	margin-left: 100px;
	margin-right: 50px;
	float: right;
}
.social ul li{
	float: right;
/*	margin: 10px 2px;
*/}
.social ul li a{
	color: white;
}
.social ul li a:hover{
	color: Tomato;
}

.support{
	width: 264px;
	height: 300px;
	float: left;
}
.support ul li{
	width: 40px;
	height: 40px;
	margin: 2px;
	border-radius: 2px;
	float: right;
	background: #2c3e50;
}
.footer-bot{
	width: 100%;
	height: 50px;
	background: #2c3e50;
}
.footer-bot .copyright{
	color: #fdfdfd;
	margin: 18px 20px 0;
	float: right;
	width: 100%;
}
.footer-bot .copyright p{
	color: #222;
	text-align: center;
}